@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');
:root {
    --bg: #fefefe;
    --text: #10102F;
    --primary: #6C63FF;
    --secondary: #8a8a96;
    --red: rgb(255, 52, 52);
    --green: rgb(0, 177, 44);
    --orange: rgb(238, 164, 5);
    --pink: rgb(255, 41, 219);
    --blue: rgb(44, 140, 250);
    --purple: rgb(104, 12, 141);

}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg);
    color:var(--text);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

/*NAVBAR*/

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo-asterix {
    color: var(--primary);
}

.hamburger-button {
    box-sizing: border-box;
    width: 30px;
}

.hamburger-button:hover {
    transform: scale(0.9);
}

/*HERO-SECTION*/

section {
    margin:100px auto;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/*HEADINGS*/

.heading1 {
    margin:4px;
    font-size: 28px;
    font-weight: 700;
}

.subtitles {
    margin: 0 0 32px;
    font-size: 20px;
    font-weight: 500;
}


/*BUTTONS*/

.primary-button {
    background-color: var(--primary);
    color: var(--bg);
    font-size: 14px;
    border-radius: 90px;
    padding: 14px 24px;
}

.primary-button:hover {
    opacity: 90%;
}

.bento {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.bento-card {
    border-radius: 20px;
    color: var(--bg);
    font-size:20px;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}

#maths {
    background-color: var(--red);
}

#geography {
    background-color: var(--green);
}

#history {
    background-color: var(--orange);
}

#art {
    background-color: var(--pink);
}

#computer {
    background-color: var(--purple);
}

#music {
    background-color: var(--blue);
}

.subject-icon {
    padding: 0 10px 0 0;
    width: 30px;
}